---
import ProjectSection from "../ProjectSection.astro";
---

<ProjectSection
  id="project-airwave"
  title="Airwave"
  images={[
    "/images/airwave-icon.png",
    // "/images/airwave-setup.png",
    // "/images/airwave-settings.png",
  ]}
>
  <p>
    A macOS application that adds system-wide spatial audio to headphones using
    HRIR convolution. Built as a free, customizable alternative to proprietary
    spatial audio tools, because tools like these shouldn't cost a subscription.
  </p>
  <p>
    Routes all system audio through a real-time convolution pipeline at ~0.1%
    CPU. Compatible with HeSuVi HRIR presets. Written in Swift.
  </p>
</ProjectSection>
