---
import ProjectSection from "../ProjectSection.astro";
---

<ProjectSection
  id="project-customer-relationship-mgmt"
  title="Customer Relationship Management"
  images={[
    "/images/crm-dashboard.png",
    // "/images/landing-sveltekit-framework-landing.png",
    // "/images/helios-2.png"
  ]}
>
  <p>
    Custom customer relationship and lead management system. It standardizes
    sales pipelines, customer interactions, service ticketing, and sales
    activity metrics.
  </p>
  <p>
    Integrates real-time communication tracking, lead categorization filters,
    and interactive dashboards for sales performance reviews.
  </p>
</ProjectSection>
