---
import ProjectSection from "../ProjectSection.astro";
---

<ProjectSection
  id="project-customer-relationship-mgmt"
  title="Customer Relationship Management"
  images={[
    "/images/crm-dashboard.png",
    // "/images/landing-sveltekit-framework-landing.png",
    // "/images/helios-2.png"
  ]}
>
  <p>
    Tailored customer relationship and lead management system. Engineered to
    standardize sales pipelines, customer interactions, service ticketing, and
    engagement performance metrics.
  </p>
  <p>
    Integrates real-time communication tracking, lead categorization filters,
    and interactive telemetry dashboards for sales performance reviews.
  </p>
</ProjectSection>
