---
import ProjectSection from "../ProjectSection.astro";
---

<ProjectSection
  id="project-knowledge-quiz-platform"
  title="Knowledge & Quiz Platform"
  images={[
    // "/images/is-framework-code.png",
    // "/images/velox-1.png",
    // "/images/apostle-terminal.png"
  ]}
>
  <p>
    A knowledge management system for organizing training materials, course
    content, and quizzes. It gives teams a central place to manage learning
    resources and check understanding through structured assessments.
  </p>
</ProjectSection>
